<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url 'style.css' }}">
</head>
<body>
    <header>

    </header>

    <main>
        <section>
            {% block content %}

            {% endblock %}
        </section>
    </main>

    <footer>
        Copyright
    </footer>

    <table border=1>
        <tr>
            <th>Tache</th>
            <th>Description</th>
            <th>Supprimer</th>
            <th>Modifier</th>
        </tr>
        <tr>
            <td>{{ }}</td>
            <td>{{ }}</td>
            <td>{{ }}</td>
            <td>{{ }}</td>
        </tr>
    </table>
   
</body>
</html>